
<ng-container *ngIf="(img$ | async) as image">
      <div class="card shadow-lg">
        <div class="card-img-container">
          <ng-template [ngIf]="image.media_type === 'video'">
            <youtube-player [videoId]="image.url" height="236" width="420"></youtube-player>
          </ng-template>
          <ng-template [ngIf]="image.media_type === 'image'">
            <img [src]="image.url" alt="Photo of the day" class="card-img-top" >
          </ng-template>
        </div>
        <div class="card-body">
          <h5 class="card-title">{{ image.title }}</h5>
          <p class="card-text">{{ image.explanation }}</p>
          <button (click)="onReadMore()" class="btn btn-success">Read more</button>
        </div>
      </div>
</ng-container>