
<ng-container *ngIf="(img$ | async) as image">


    <mat-card class="image-card">
        <mat-card-header>
          <mat-card-title>{{ image.title }}</mat-card-title>
          <mat-card-subtitle>{{ image.date | date: 'medium' }}</mat-card-subtitle>
        </mat-card-header>
        <div class="image-container">

            <ng-template [ngIf]="image.media_type === 'video'">
                <video width="320" height="240" controls>
                    <source [src]="image.url" type="video/mp4">
                    <source [src]="image.url" type="video/ogg">
                  Your browser does not support the video tag.
                  </video>
            </ng-template>
            <ng-template [ngIf]="image.media_type === 'image'">
                <img mat-card-image [src]="image.url"  alt="Photo of the day">
            </ng-template>
        </div>
        <mat-card-content>
            <p>{{ image.explanation }}</p>
        </mat-card-content>
        <mat-card-actions>
          <button mat-button>LIKE</button>
          <button mat-button>SHARE</button>
        </mat-card-actions>
      </mat-card>



</ng-container>


<mat-slider min="1" max="100" step="1" value="1"></mat-slider>
