<ng-template [ngIf]="overlay$ | async">
  <div class="overlay" [class.overlay--show]="overlayContent$ | async">
    <ng-container *ngIf="overlayContent$ | async as image">
      <div class="modal" [class.overlay--show]="overlayContent$ | async" tabindex="-1">
        <div class="modal-dialog modal-lg modal-dialog-scrollable">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title">{{ image.title }}</h5>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"
                (click)="onCloseOverlay()"></button>
            </div>
            <div class="modal-body">
              <div class="row">
                <div class="col">
                  <figure class="figure text-center">
                    <ng-template [ngIf]="image.media_type === 'video'">
                      <youtube-player [videoId]="image.url" height="360" width="640"></youtube-player>
                    </ng-template>
                    <ng-template [ngIf]="image.media_type === 'image'">
                      <img class="figure-img img-fluid rounded image-container" [src]="image.url" alt="Photo of the day"
                        width="320" height="auto">
                    </ng-template>
                    <figcaption class="figure-caption text-start">{{ image.date | date: 'longDate' }}</figcaption>
                  </figure>
                </div>
              </div>
              <div class="row">
                <div class="col">
                  <p class="mt-2">{{ image.explanation }}</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </ng-container>
  </div>
</ng-template>