.overlay {
    width: 100vw;
    height: 100vh;
    background-color: rgba(0,0,0,0.45);
    position: absolute;
    top: 0;
    left: 0;
    z-index: 999;
    opacity: 0;
    transition: opacity 1s cubic-bezier(0.23, 1, 0.320, 1);
}

.overlay--show {
    opacity: 1;
}

.main-container {
    max-width: 75%;
    height: 70%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    border-radius: 5px;
    overflow: hidden;
}

.image-container {
    display: flex;
    clear: both;
    flex-flow: row;
    flex-wrap: wrap;
    justify-content: center;
    padding: 16px;
}

.image-container img {
    max-height: 480px;
    width: auto;
}

.mat-card-actions {
    margin: 0;
}

.footer-p {
    margin: 0 8px
}